In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
clients = pd.read_csv('clients_w_term_clean.csv', parse_dates=True)
clients.head()

,ID,State,Company.Live.Date,Termed,Employees,Industry,Expense,Hire,Perform,Price_Change,...,Risk_Interactions,Underwriting_Interactions,Strategic_Service_Interactions,Tax_Interactions,Unemployment_Claim_Interactions,WC_Interactions,Payrolls,Payrolls_With_Error,Voluntary_Terminations,Involuntary_Terminations
0,140,FL,7/7/10,False,16,Agriculture,False,False,False,True,...,0,0,0,0,4,0,52.0,0.0,5.0,1.0
1,141,FL,9/22/10,False,8,Agriculture,False,False,False,True,...,0,0,0,0,0,0,36.0,0.0,1.0,0.0
2,142,FL,9/26/10,False,7,Agriculture,False,False,False,True,...,0,0,0,0,0,0,27.0,0.0,2.0,2.0
3,143,FL,9/29/10,False,3,Agriculture,False,False,False,True,...,0,0,0,0,0,0,37.0,0.0,1.0,0.0
4,144,TX,10/25/14,False,4,Utilities,False,False,False,False,...,0,0,0,0,0,0,24.0,0.0,0.0,0.0

In [6]:
clients.shape

(9538, 36)

In [7]:
clients.isnull().sum()

ID                                    0
State                                 0
Company.Live.Date                     0
Termed                                0
Employees                             0
Industry                              0
Expense                               0
Hire                                  0
Perform                               0
Price_Change                          0
Price_Change_Amount                   0
Cases                                 0
First_Contact_Resolutions          3292
Benefits_Interactions                 0
Cust_Service_Interactions             0
Global_Services_Interactions          0
Passport_Interactions                 0
HR_Interactions                       0
IT_Enhancement_Interactions           0
IT_Maintenance_Interactions           0
IT_Problem_Interactions               0
Standard_IT_Interactions              0
LOA_Interactions                      0
Legal_Interactions                    0
Payroll_Interactions                  0
Product_Interactions                  0
Risk_Interactions                     0
Underwriting_Interactions             0
Strategic_Service_Interactions        0
Tax_Interactions                      0
Unemployment_Claim_Interactions       0
WC_Interactions                       0
Payrolls                           1247
Payrolls_With_Error                1247
Voluntary_Terminations              814
Involuntary_Terminations            814
dtype: int64

In [12]:
clients.Termed.value_counts()

False    8781
True      757
Name: Termed, dtype: int64